.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) { 
    .cabecalho {
        height: 15vh;
    }
}

@media screen and (max-height: 500px) {
    .cabecalho {
      height: 30vh;
    }
}