.banner__titulo {
  margin-top: 6rem;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps; 
}

@media screen and (max-width: 1024px) {
  .banner__titulo {
    margin-top: 6rem;
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 900px) {
  .banner__titulo {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .banner__titulo {
    margin-top: 6rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 300px) {
  .banner__titulo {
    font-size: 2.5rem;
  }
}

@media screen and (max-height: 740px) {
  .banner__titulo {
    margin-top: 4rem;
  }
}

@media screen and (max-height: 500px) {
  .banner__titulo {
    margin-top: 1rem;
  }
}