.fecharModalProjetos {
  background: var(--var-cor-amarelo);
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  width: 5rem;
  position: absolute;
  top: -5vh;
  right: -2.8vw;
}

.fecharModalProjetos img {
  width: 100%;
  stroke: var(--var-cor-azul);
}

@media screen and (max-width: 1024px) {
  .fecharModalProjetos {
    width: 4rem;
    top: -4vh;
    right: -2.8vw;
  }
}

@media screen and (max-width: 768px) { 
  .fecharModalProjetos {
    width: 3.5rem;
    top: -4vh;
    right: -2.8vw;
  }
}

@media screen and (max-width: 375px) {
  .fecharModalProjetos {
    width: 3rem;
    top: -3vh;
    right: -2.8vw;
  }
}