:root{
  --var-cor-preto: #0F0A0A;
  --var-cor-azul: #212969;
  --var-cor-branco: #FDFFFC;
  --var-cor-laranja: #CC5803;
  --var-cor-amarelo: #FAB919;
}

.fa{
  display: inline-block;
  height: 4.375rem;
  width: 4.375rem;
  vertical-align: middle;
} 

.fa-wpp{
  background: center / contain no-repeat url('../img/fa-wpp.svg');
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.5rem;
}

.icon-cifrao{
  background: center / contain no-repeat url('../img/icon-cifrao.svg');
}
.icon-cafe{
  background: center / contain no-repeat url('../img/icon-cafe.svg');
}
.icon-ferramenta{
  background: center / contain no-repeat url('../img/icon-ferramenta.svg');
}

*{
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.container{
  padding-left: 10rem;
  padding-right: 10rem;
  max-width: 1920px;
}

.botao{
  background: var(--var-cor-amarelo);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: var(--var-cor-azul);
  cursor: pointer;
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.35));
  font-weight: 500; 
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.85rem 1.25rem;
}

.logo{
  height: 10rem;
  height: 10rem;
}

.tituloH2{
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.tituloH3{
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  text-transform: uppercase;
  text-align: center;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cabecalho__link{
  color: var(--var-cor-preto);
  margin-left: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.cabecalho__link:hover:not(:last-child){
  color: var(--var-cor-laranja);
}

.cabecalho__wpp{
  background: #0FA958;
  border-radius: 1.25rem;
  color: var(--var-cor-branco);
  padding: 1rem;
}

.banner{
  color: white;
  background: linear-gradient(0deg, rgba(33, 41, 105, 0.60) 0%, rgba(33, 41, 105, 0.60) 100%), center / cover no-repeat url('../img/bgBannerGif.gif'), lightgray 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 82vh;
  width: 100vw;
}

.banner__titulo{
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps; 
}

.banner__subtitulo{
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.banner__texto{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.banner .banner__botao{
  font-size: 1.5rem;
  margin-top: 2rem;
}

.links{
  display: flex;
  height: auto;
  margin: 2rem 0 6rem 0;
  justify-content: space-between;
}

.links__card{
  border-radius: 0px 60px;
  background: var(--var-cor-azul);
  box-shadow: 40px 40px 25px 0px rgba(0, 0, 0, 0.50), 25px 27px 0px 0px #0B1037, 5px 10px 10px 0px rgba(16, 22, 72, 0.50) inset;
  color: var(--var-cor-branco);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 350px;
  width: 350px;
}

.links__titulo{
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.comoFunciona{
  background: var(--var-cor-azul);
  text-align: center;
}

.comoFunciona__bg{
  margin: 0 auto;  
  height: 100vh;
}

.servico__img--PH{
  background: center / cover no-repeat url('../img/ph.jpg');
  height: 300px;
  width: 100%;
}
.servico__img--INS{
  background: center / cover no-repeat url('../img/ins.jpg');
  height: 300px;
  width: 100%;
}
.servico__img--OP{
  background: center / cover no-repeat url('../img/om.jpg');
  height: 300px;
  width: 100%;
}

.servicos{
  margin: 4rem 0;
}

.servicos__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.servicos__titulo{
  color: var(--var-cor-azul);
  margin-bottom: 2rem;
}

.servico{
  align-items: center;
  background: var(--azul, #212969);
  border-radius: 10px;
  color: var(--var-cor-branco);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 784px;
  width: 446.459px;
}

.servico__titulo{
  color: var(--var-cor-amarelo);
}

.servico__lista{
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400; 
}

.servico__botao{
  font-size: 1.5rem;
}