:root {
  --var-cor-preto: #0F0A0A;
  --var-cor-azul: #212969;
  --var-cor-branco: #FDFFFC;
  --var-cor-laranja: #CC5803;
  --var-cor-amarelo: #FAB919;
}

.fa {
  display: inline-block;
  height: 4.375rem;
  width: 4.375rem;
  vertical-align: middle;
} 

.fa-wpp {
  background: center / contain no-repeat url('../img/fa-wpp.svg');
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.5rem;
}

.icon-cifrao {
  background: center / contain no-repeat url('../img/icon-cifrao.svg');
}
.icon-cafe {
  background: center / contain no-repeat url('../img/icon-cafe.svg');
}
.icon-ferramenta {
  background: center / contain no-repeat url('../img/icon-ferramenta.svg');
}

.fa-mail {
  background: center / contain no-repeat url('../img/fa-mail.svg');
  width: 2.5rem;
  height: 2.5rem;
}

.fa-tel {
  background: center / contain no-repeat url('../img/fa-tel.svg');
  width: 2.5rem;
  height: 2.5rem;
}

.fa-instagram {
  background: center / contain no-repeat url('../img/fa-instagram.svg');
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 1rem;
}

.fa-facebook {
  background: center / contain no-repeat url('../img/fa-facebook.svg');
  width: 2.25rem;
  height: 2.25rem;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
}

.container {
  padding-left: 10rem;
  padding-right: 10rem;
  max-width: 1920px;
}

.botao {
  background: var(--var-cor-amarelo);
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: var(--var-cor-azul);
  cursor: pointer;
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.35));
  font-weight: 500; 
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.85rem 1.25rem;
}

.logo {
  height: 10rem;
  height: 10rem;
}

.tituloH2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.tituloH3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  text-transform: uppercase;
  text-align: center;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cabecalho__navMobile {
  display: none;
}

.cabecalho__link {
  color: var(--var-cor-preto);
  margin-left: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}

.cabecalho__link:hover:not(:last-child) {
  color: var(--var-cor-laranja);
}

.cabecalho__wpp {
  align-self: center;
  background: #0FA958;
  border-radius: 1.25rem;
  color: var(--var-cor-branco);
  padding: 0.4rem 1rem 0.6rem 1rem ;
}

.banner {
  color: white;
  background: linear-gradient(0deg, rgba(33, 41, 105, 0.60) 0%, rgba(33, 41, 105, 0.60) 100%), center / cover no-repeat fixed url('../img/bgBannerGif.gif'), lightgray 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 82vh;
  width: 100vw;
}

.banner__titulo {
  margin-top: 6rem;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps; 
}

.banner__subtitulo {
  margin-top: 2rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.banner__texto {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 60%;
  margin: 6rem auto 0 auto;
}

.banner .banner__botao {
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
}

.links {
  display: flex;
  height: auto;
  margin: 2rem 0 6rem 0;
  justify-content: space-between;
}

.links__card {
  border-radius: 0px 60px;
  background: var(--var-cor-azul);
  box-shadow: 40px 40px 25px 0px rgba(0, 0, 0, 0.50), 25px 27px 0px 0px #0B1037, 5px 10px 10px 0px rgba(16, 22, 72, 0.50) inset;
  color: var(--var-cor-branco);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-evenly;
  width: calc(33.33% - 4rem);
  padding: 3.5rem 0;
}

.links__titulo {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.comoFunciona {
  background: var(--var-cor-azul);
  text-align: center;
}

.comoFunciona__bg {
  margin: 0 auto;  
  height: 100vh;
  padding-bottom: 4rem;
}

.servico__img--PH {
  background: center / cover no-repeat url('../img/ph.jpg');
  height: 300px;
  width: 100%;
}
.servico__img--INS {
  background: center / cover no-repeat url('../img/ins.jpg');
  height: 300px;
  width: 100%;
}
.servico__img--OP {
  background: center / cover no-repeat url('../img/om.jpg');
  height: 300px;
  width: 100%;
}

.servicos {
  margin: 4rem 0;
}

.servicos__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.servicos__titulo {
  color: var(--var-cor-azul);
  margin-bottom: 2rem;
}

.servico {
  align-items: center;
  background: var(--azul, #212969);
  border-radius: 10px;
  color: var(--var-cor-branco);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4rem;
  gap: 2rem;
  width: calc(33.33% - 2rem);
}

.servico__titulo {
  color: var(--var-cor-amarelo);
}

.servico__lista {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400; 
}

.servico__botao {
  margin: 2rem 0.5rem 0 0.5rem;
  font-size: 1.5rem;
}

.projetos {
  background: linear-gradient(0deg, rgba(33, 41, 105, 0.45) 0%, rgba(33, 41, 105, 0.45) 100%), fixed url('../img/bgProjetos.jpg'), lightgray 50% / cover no-repeat;
}

.projetos__titulo {
  color: var(--var-cor-branco);
  padding-top: 4rem;
}

.projetos__container {
  padding: 4rem 0 6rem 0;
}

.projeto {
  background: var(--var-cor-branco);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  text-align: center;
  height: 100%;
  width: calc(33.33% - 2rem);
  padding-bottom: 0.625rem;
}

.projeto__img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
}

.projeto__tipo {
  color: var(--var-cor-laranja);
  font-weight: 500;
  text-transform: uppercase;
}

.projeto__localidade {
  color: var(--var-cor-azul);
}

.seta-esquerda, .seta-direita {
  border: none;
  background: none;
  cursor: pointer;
  transform: rotate(0deg);
}

.seta-direita {
  transform: rotate(180deg);
}

.depoimentos {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.depoimentos__titulo {
  color: var(--var-cor-azul);
}

.depoimentos__container {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.depoimento {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 80%;
}

.depoimento blockquote {
  font-size: 1.5rem;
  font-weight: 700; 
}

.simulador {
  align-items: center;
  background: linear-gradient(0deg, rgba(18, 25, 83, 0.45) 0%, rgba(18, 25, 83, 0.45) 100%), fixed url("../img/bgSimulador.jpg"), lightgray 50% / cover no-repeat;
  color: var(--var-cor-branco);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.simulador__descricao {
  text-align: center;
  width: 60%;
}

.simulador__form {
  background: var(--var-cor-azul);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 2rem;
}

.simulador__label {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}

.simulador__input {
  display: flex;
  flex-direction: column;
}

.simulador__radio {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#nomeSimulador, #emailSimulador {
  border: none;
  border-radius: 0.625rem;
  padding: 0.5rem;
  outline: none;
  margin-top: 0.25rem;
}

.simulador__termos {
  font-size: 0.825rem;
}

.simulador__botao {
  align-self: center;
  margin-top: 4rem;
  width: 50%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}

.duvidas {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.duvidas__titulo {
  color: var(--var-cor-azul);
}

.duvidas__container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 2rem;
  justify-content: space-between;
}

.duvidas__perguntas {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 60%;
}

.duvidas__pergunta::marker {
  color: var(--var-cor-amarelo);
}

.duvidas__caixa {
  background: #D9D9D9;
  border-radius: 1.25rem;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
}

.duvidas__naoSolucionou {
  border-radius: 1.25rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.30);
  width: 40%;
}

.duvidas__conteinerTitulo {
  border-radius: 1.25rem 1.25rem 0 0;
  background: var(--var-cor-amarelo);
}

.duvidas__formTitulo {
  padding: 0.5rem 2.5rem;
  color: var(--var-cor-azul);
}

.duvidas__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2.5rem;
}

.duvidas__form input, .duvidas__form textarea {
  border: 2px solid rgba(15, 10, 10, 0.40); 
  border-radius: 0.625rem;  
  outline: none;
  padding: 0.5rem 0.5rem;
}

.duvidas__form textarea {
  resize: none;
  height: 100px;
}

.duvidas__botaoForm {
  align-self: center;
  font-size: 1.125rem;
  width: 50%;
}

.blog {
  background: fixed bottom url("../img/bgBlog.jpg"), lightgray 50% / cover no-repeat;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.blog__titulo, .blog__descricao {
  color: var(--var-cor-branco);
  text-align: center;
}

.blog__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 2rem 0;
}

.blog__artigo {
  background: var(--var-cor-branco);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: calc(33.33% - 2rem);
  padding-bottom: 1.5rem;
}

.blog__tituloArtigo {
  color: var(--var-cor-azul);
}

.blog__linkArtigo {
  color: var(--var-cor-laranja);
  text-decoration: none;
  text-transform: uppercase;
}

.blog__linkArtigo:hover {
  color: var(--var-cor-azul);
}

.blog__link {
  display: table;
  margin: 0 auto;
  padding: 0.825rem 2.5rem;
}

.newsletter {
  background: linear-gradient(0deg, rgba(33, 41, 105, 0.45) 0%, rgba(33, 41, 105, 0.45) 100%), url("../img/bgNew.jpeg"), lightgray 50% / contain no-repeat;
  color: var(--var-cor-branco);
  text-align: center;
  padding: 2rem;
}

.newsletter__anuncio {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.newsletter__container {
  border-top: 2px solid var(--var-cor-branco);
  margin: 1rem auto;
  padding-top: 1rem;
  width: 50%;
}

.newsletter__titulo {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.newsletter__descricao {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.newsletter__form input {
  border: none;
  padding: 0.825rem 8rem 0.825rem 0.825rem;
  border-radius: 0.625rem;
  margin-right: 1.5rem;
}

.orcamento {
  background: var(--var-cor-amarelo);
  padding: 2rem;
}

.orcamento__titulo {
  color: var(--var-cor-azul);
  margin-bottom: 2rem;
}

.orcamento__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto 0 auto;
  width: 50%;
}

.orcamento__form input, .orcamento__form textarea {
  border: none;
  border-radius: 0.625rem;
  padding: 0.825rem 1rem;
}

.orcamento__formInputContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  justify-content: space-between;
}

#nomeOrcamento, #cidadeOrcamento {
  width: 50%;
}

#emailOrcamento, #telOrcamento {
  width: 45%;
}

.orcamento__descricaoConsumo {
  font-size: 0.875rem;
  position: relative;
  bottom: 0.5rem;
}

.orcamento__botao {
  background: var(--var-cor-azul);
  border-radius: 0.625rem;
  color: var(--var-cor-branco);
  font-size: 1.5rem;
}

.rodape {
  background: linear-gradient(0deg, rgba(33, 41, 105, 0.35) 0%, rgba(33, 41, 105, 0.35) 100%), url("../img/bgRodape.png"), lightgray 50% / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rodape__container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;
  margin: 2rem 0 4rem 0;
}

.rodape__nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.rodape__borda {
  border-right: 2px solid var(--var-cor-branco);
}

.rodape__link {
  color: var(--var-cor-branco);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}

.rodape__link:hover {
  color: var(--var-cor-laranja);
}

.rodape__contato {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 300px;
}

.rodape__email, .rodape__tel {
  color: var(--var-cor-branco);
  transition: 0.2s all ease-in-out;
  text-decoration: none;
  margin-left: 0.5rem;
}

.rodape__social {
  text-align: center;
  margin-bottom: 0.5rem;
}

.rodape__copy {
  color: var(--var-cor-branco);
  padding-bottom: 2rem;
}

.whatsappBotaoFlutuante {
  display: flex;
  position: fixed;
  bottom: 2rem;
  right: 0.5rem;
  z-index: 1;
  width: 7.5vw;
  height: 7.5vh;
}

.whatsappBotaoFlutuante img {
  width: 100%;
  height: 100%;
}

.whatsappBotaoFlutuante svg {
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}

.whatsappBotaoFlutuante svg path {
  stroke: var(--var-cor-laranja);
}

@media screen and (max-width: 1290px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  
  .logo {
    height: 8rem;
    height: 8rem;
  }
  
  .links__card {
    gap: 0.5rem;
    padding: 3rem 0;
  }
  
  .links__titulo {
    font-size: 1.5rem;
  }
  
  .comoFunciona__bg {
    margin: 0 auto;  
    height: 80vh;
  }

  .servico {
    padding-bottom: 2rem;
    gap: 1rem;
    width: calc(33.33% - 1rem);
  }

  .servico__titulo, .servico__lista {
    padding: 0 2rem;
  }
  
  .servico__botao {
    font-size: 1.25rem;
  }

  .projetos__container {
    padding: 2rem 0 4rem 0;
  }

  .projeto__localidade {
    font-size: 1.125rem;
  }

  .simulador__label {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  .simulador__botao {
    margin-top: 2rem;
    width: 40%;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .duvidas__container {
    gap: 2rem;
  }
  
  .duvidas__perguntas {
    gap: 1rem;
  }
  
  .duvidas__caixa {
    padding: 1.5rem 1rem;
  }
  
  .duvidas__naoSolucionou {
    width: 40%;
  }
  
  .duvidas__formTitulo {
    padding: 0.825rem 0.5rem;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .duvidas__form {
    gap: 1rem;
  }
  
  .duvidas__botaoForm {
    padding: 0.5rem 0.825rem;
    width: 40%;
  }

  .blog__artigo {
    gap: 0.5rem;
    padding-bottom: 1rem;
  }
  
  .blog__tituloArtigo {
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .newsletter__anuncio {
    font-size: 2.5rem;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
  }
  
  .newsletter__container {
    margin: 2rem auto;
    padding-top: 2rem;
    width: 100%;
  }
  
  .newsletter__form input {
    padding: 1rem 6rem 1rem 1rem;
  }
  
  .orcamento__form {
    gap: 1.25rem;
    width: 80%;
  }
  
  .orcamento__form input, .orcamento__form textarea {
    padding:1rem;
  }
  
  .orcamento__formInputContainer { 
    gap: 1.5rem;
  }
  
  .orcamento__botao {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1024px) {
  .container { 
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .banner {
    height: 82vh;
  }
  
  .banner__titulo {
    margin-top: 6rem;
    font-size: 4.5rem;
  }
  
  .banner__subtitulo {
    margin-top: 1.825rem;
    font-weight: 300;
    padding: 0 1rem;
  }
  
  .banner__texto {
    font-size: 1.25rem;
    width: 60%;
    margin: 4.5rem auto 0 auto;
  }
  
  .banner .banner__botao {
    font-size: 1.25rem;
    margin-top: 2.5rem;
    padding: 0.5rem 2.25rem;
  }
  
  .links__card {
    gap: 1rem;
    padding: 1.5rem 0;
    width: calc(33.33% - 3rem);
  }
  
  .links__titulo {
    font-weight: 500;
  }
  
  .comoFunciona__bg {
    width: 100%;
    height: auto;
  }

  .servico {
    padding-bottom: 1.5rem;
  }

  .servico__titulo {
    font-size: 1.25rem;
  }

  .servico__lista {
    font-size: 1rem;
    font-weight: 300;
  }

  .servico__titulo, .servico__lista {
    padding: 0 1.5rem;
  }
  
  .servico__botao {
    font-size: 1rem;
  } 
  
  .duvidas__container {
    gap: 2rem;
  }
  
  .duvidas__perguntas {
    gap: 1rem;
  }
  
  .duvidas__caixa {
    padding: 1.5rem 1rem;
  }
  
  .duvidas__naoSolucionou {
    width: 40%;
  }
  
  .duvidas__formTitulo {
    padding: 0.825rem 0.5rem;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .duvidas__form {
    gap: 1rem;
  }
  
  .duvidas__botaoForm {
    padding: 0.5rem 0.825rem;
    width: 40%;
  }

  .whatsappBotaoFlutuante {
    width: 10vw;
    height: 10vh;
  }
   
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .logo {
    height: 7rem;
    height: 7rem;
  }

  .tituloH2 {
    font-size: 2rem;
  }
  
  .tituloH3 { 
    font-size: 1.25rem;
  }
  
  .cabecalho__link {
    margin-left: 0.825rem;
    font-size: 0.875rem;
  }
   
  .banner {
    height: 75vh;
  }

  .banner__titulo {
    margin-top: 5rem;
  }

  .banner__subtitulo {
    font-size: 2.5rem;
    padding: 0 1rem;
  }

  .banner__texto {
    font-size: 1.25rem;
    width: 70%;
  }
  
  .banner .banner__botao {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }

  .links__card {
    gap: 0.825rem;
    padding: 1.25rem 0;
    width: calc(33.33% - 2rem);
  }
  
  .links__titulo {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .servico {
    width: calc(33.33% - 0.5rem);
  }

  .depoimento blockquote {
    font-size: 1.25rem;
  }
  
  .duvidas__container {
    gap: 1rem;
  }
  
  .duvidas__caixa {
    padding: 1rem;
  }
  
  .duvidas__naoSolucionou {
    width: 40%;
  }
  
  .duvidas__formTitulo {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .duvidas__form {
    gap: 0.5rem;
    padding: 1rem;
  }
  
  .duvidas__botaoForm {
    padding: 0.25rem 0.5rem;
    width: 50%;
  }

  .newsletter__anuncio {
    font-size: 2.25rem;
    width: 100%;
  }
  
  .newsletter__container {
    margin: 2rem auto;
    padding-top: 2rem;
    width: 100%;
  }

  .newsletter__titulo {
    font-size: 1.825rem;
    font-weight: 500;
  }
  
  .newsletter__descricao {
    font-size: 1.5rem;
    font-weight: 500;
  } 
  
  .newsletter__form input {
    padding: 1rem 2rem 1rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .fa-wpp {
    margin-right: 0;
  }

  .tituloH2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .botao {
    padding: 0.5rem;
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .cabecalho {
    height: 15vh;
  }

  .cabecalho__wpp {
    border-radius: 1.25rem;
    padding: 0.5rem 0.825rem;
  }

  .cabecalho__nav {
    display: none;
  }

  .cabecalho__navMobile {
    display: flex;
  }

  .cabecalho__navMobileMenu {
    margin-left: 1.5rem;
  }

  .show-cabecalho__navMobile {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15vh;
    left: 0;
    list-style: none;
    background: var(--var-cor-laranja);
    width: 100%;
    height: 6rem;
    transition: 0.2s all ease-in-out;
  }

  .cabecalho__link {
    font-size: 1rem;
    font-weight: 500;
  }

  .banner__titulo {
    margin-top: 6rem;
    font-size: 4rem;
  }
  
  .banner__subtitulo {
    font-size: 2rem;
    padding: 0 0.5rem;
  }
  
  .banner__texto {
    font-size: 1.25rem;
    width: 70%;
    margin: 5rem auto 0 auto;
  }
  
  .banner .banner__botao {
    padding: 0.5rem 1.5rem;
  }

  .links__card {
    gap: 0.5rem;
    padding: 1.25rem 0;
    width: calc(33.33% - 1.25rem);
  }
  
  .links__titulo {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .servico__img--PH {
    background: center / cover no-repeat url('../img/ph.jpg');
    height: 200px;
    width: 100%;
  }
  .servico__img--INS {
    background: center / cover no-repeat url('../img/ins.jpg');
    height: 200px;
    width: 100%;
  }
  .servico__img--OP {
    background: center / cover no-repeat url('../img/om.jpg');
    height: 200px;
    width: 100%;
  }
  
  .servicos {
    margin: 2.5rem 0;
  }
  
  .servico {
    padding-bottom: 1rem;
    gap: 1rem;
    width: calc(33.33% - 0.25rem);
  }
  
  .servico__titulo {
    font-size: 1rem;
  }
  
  .servico__lista {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 1rem;
  }
  
  .servico__botao {
    margin: 1rem 0.5rem 0 0.5rem;
    font-size: 1rem;
  } 

  .servico__item::marker {
    font-size: 0.5rem;
  }

  .depoimento blockquote {
    font-size: 1.125rem;
    font-weight: 400; 
  }

  .depoimentos__container svg {
    height: 52px;    
    width: 40px;
  }
  
  .simulador__descricao {
    margin: 1rem 0 2rem 0;
    font-weight: 300;
    width: 100%;
  }
  
  .simulador__form {
    background: none;
    border: 1px solid var(--var-cor-branco);
    gap: 1.5rem;
  }
  
  .simulador__label {
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  .simulador__botao {
    margin-top: 1.5rem;
    width: auto;
    padding: 0.825rem 2rem;
    font-size: 1.125rem;
    font-weight: 400;
  }

  .whatsappBotaoFlutuante {
    width: 14vw;
    height: 14vh;
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .logo {
    height: 6rem;
    height: 6rem;
  }

  .show-cabecalho__navMobile {
    gap: 2rem;
    height: 4rem;
  }

  .banner {
    height: 65vh;
  }
  
  .banner__texto {
    margin: 4rem auto 0 auto;
    font-size: 1rem;
    font-weight: 400;
    width:90%;
  }
  
  .banner .banner__botao {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  .links {
    display: none;
  }

  .servicos__container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .servico {
    padding-bottom: 4rem;
    gap: 2rem;
    width: 100%;
  }

  .servico__titulo {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .servico__botao {
    padding: 1rem 2rem !important;
    font-size: 1rem;
  }

  .projetos__titulo {
    color: var(--var-cor-branco);
    padding-top: 2rem;
  }

  .projetos__container {
    flex-direction: column;
    padding: 2rem 0 4rem 0;
  }

  .projeto {
    width: 100%;
  }

  .simulador {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .duvidas__container {
    flex-direction: column;
    gap: 2rem;
  }

  .duvidas__perguntas {
    gap: 1.5rem;
    width: 100%;
  }

  .duvidas__naoSolucionou {
    width: 100%;
  }

  .duvidas__form {
    gap: 1rem;
    padding: 1.5rem;
  }

  .duvidas__form input, .duvidas__form textarea {
    padding: 1rem;
  }

  .blog__descricao {
    font-weight: 300;
    margin-top: 1rem;
  }

  .blog__container {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
  }

  .blog__artigo {
    gap: 1rem;
    width: 100%;
    padding-bottom: 1.5rem;
  }

  .blog__link {
    display: table;
    margin: 0 auto;
    padding: 0.825rem 2.5rem;
  }

  .newsletter__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .newsletter__form input {
    text-align: center;
    margin: 0;
    width: 80%;
    padding: 1rem;
  }

  .newsletter__anuncio:first-child {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
  }

  .newsletter__anuncio:last-child {
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    margin-top: 0.5rem;
  }
  
  .newsletter__botao {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  .orcamento__form {
    width: 100%;
  }

  .orcamento__formInputContainer {
    flex-direction: column;
  }

  .orcamento__form input, .orcamento__form textarea {
    padding: 1.5rem;
  }

  #nomeOrcamento, #cidadeOrcamento {
    width: 100%;
  }
  
  #emailOrcamento, #telOrcamento {
    width: 100%;
  }

  .orcamento__botao {
    margin: 0 auto;
    width: 35%;
  }

  .rodape__container {
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 0 3rem 0;
  }

  .rodape__borda {
    border-top: 1.5px solid var(--var-cor-branco);
    border-right: 0;
    width: 70%;
  }

  .rodape__contato {
    text-align: center;
  }

  .rodape__copy {
    font-size: 0.875rem;
    text-align: center;
    padding-top: 1rem;
  }

  .whatsappBotaoFlutuante {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .cabecalho__link {
    margin: 0;
    font-size: 0.875rem;
  }
  
  .logo {
    height: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .show-cabecalho__navMobile {
    gap: 1rem;
  }

  .cabecalho__wpp {
    padding: 0.5rem;
  }
  
}

@media screen and (max-width: 300px) {
  .banner {
    height: 75vh !important;
  }

  .show-cabecalho__navMobile {
    gap: 0.5rem;
  }

  .cabecalho__link {
    font-size: 0.75rem;
  }

  .banner__titulo {
    font-size: 2.5rem;
  }

  .banner__subtitulo {
    font-size: 1.25rem;
  }

  .banner__texto {
    font-size: 0.875rem;
  }
  
}

@media screen and (max-height: 740px) {
  .banner {
    height: 90vh;
  }
  
  .banner__titulo {
    margin-top: 4rem;
  }

  .show-cabecalho__navMobile {
    position: absolute;
    bottom: calc(100vh - 15vh);
  }
}