.links__titulo {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

@media screen and (max-width: 1290px) {
  .links__titulo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {  
  .links__titulo {
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .links__titulo {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .links__titulo {
    font-size: 1.125rem;
    font-weight: 400;
  }
}