.links__titulo {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 1290px) {
  .links__titulo {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 900px) {
  .links__titulo {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .links__titulo {
    font-size: 1rem;
    font-weight: 400;
  }
}
