.servicos__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 560px) {
  .servicos__container {
    flex-direction: column;
    gap: 1.5rem;
  }
}